*{
    margin:0;
    padding:0px;

}

body{
    background-image: url(image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;

}

.content h1{
    text-align: center;
    font-size: xx-large;
    font-style: italic;
}
.content h2{
    text-align: center;
    font-size: x-large;
    font-style: italic;
    color:rgba(78, 21, 21, 0.844);  
}



.navbar {
    overflow: hidden;
    
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color:black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Active/current link */
  .navbar a.active {
    background-color: #666;
    color: white;
  }

  .text{
    text-align: left;
    padding-left: 30px;
    color:black;    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    }
.info{
    text-align: center;
    padding-top: 20px;
    margin-top: 10px;
    font-style: italic;
}

.contact{
    text-align: center;
    font-size: medium;
    text-decoration: solid;
    font-family:Arial, Helvetica, sans-serif;
}

.contact h4{
    text-align: center;
    
}
.contact a{
    color:black;
}
.contact a:hover{
    color:blue;
}



.logo{
   text-align: center;
   color:white;
}

@media screen and (max-width: 800px) {
    .info, .text, .navbar , .content {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */